
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mt-4">
                <div class="card-header">
                    Medicos | Formulario
                </div>
                <div class="card-body">
                    <div class="alert alert-danger" role="alert" *ngIf="error">
                        {{error}}
                    </div>
                    <div class="alert alert-success" role="alert" *ngIf="message">
                        {{message}}
                    </div>
                    <form [formGroup]="medicosForm" id="form">
                            <div class="row mb-3">
                                <div class="col me-3">
                                    <label class="form-label">*Nombre:</label>
                                    <input type="hidden" class="form-control" name="id" value="1">
                                    <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                                </div>
                                <div class="col me-3">
                                    <label class="form-label">*ApPaterno:</label>
                                    <input type="text" class="form-control" formControlName="apPaterno" placeholder="apPaterno">
                                </div>
                                <div class="col me-3">
                                    <label class="form-label">*ApMaterno:</label>
                                    <input type="text" class="form-control" formControlName="apMaterno" placeholder="ApMaterno">
                                </div>
                            </div> 
                            <div class="row mb-3">
                                <div class="col me-3">
                                    <label class="form-label">*Numero:</label>
                                    <input type="text" class="form-control" formControlName="numero" placeholder="Numero">
                                </div>
                                <div class="col me-3">
                                    <label class="form-label">*Cedula:</label>
                                    <input type="text" class="form-control" formControlName="cedula" placeholder="Cedula">
                                </div>
                                <div class="col me-3">
                                    <label class="form-label">*Domicilio:</label>
                                    <input type="text" class="form-control" formControlName="domicilio" placeholder="Domicilio">
                                </div>
                            </div> 
                            <div class="row mb-3">
                                <div class="col me-3">
                                    <label class="form-label">*Telefono:</label>
                                    <input type="text" class="form-control" formControlName="telefono" placeholder="Telefono">
                                </div>
                                <div class="col me-3">
                                    <label class="form-label">*TelefonoCasa:</label>
                                    <input type="text" class="form-control" formControlName="telefonoCasa" placeholder="TelefonoCasa">
                                </div>
                            </div>
                        
                    
                    </form>  
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-danger" type="button" (click)="Reset()">Limpiar</button>
                        <button class="btn btn-primary" type="button" (click)="onSubmit()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
      <!-- Modal -->
        <!-- Modal -->
        <div *ngIf="medicoGet">
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Editar medicos</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="medicosUpdateForm" id="formUpdate" >
                                
                                    <div class="row mb-3">
                                        <div class="col me-3">
                                            <label class="form-label">*Nombre:</label>
                                            <input type="text" class="form-control"  placeholder="Nombre" formControlName="nombre" >
                                            <input type="hidden" class="form-control" formControlName="id">
                                        </div>
                                        <div class="col me-3">
                                            <label class="form-label">*ApPaterno:</label>
                                            <input type="text" class="form-control" formControlName="apPaterno" placeholder="apPaterno">
                                        </div>
                                        <div class="col me-3">
                                            <label class="form-label">*ApMaterno:</label>
                                            <input type="text" class="form-control" formControlName="apMaterno"  placeholder="ApMaterno">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col me-3">
                                            <label class="form-label">*Numero:</label>
                                            <input type="text" class="form-control" formControlName="numero" placeholder="Numero">
                                        </div>
                                        <div class="col me-3">
                                            <label class="form-label">*Cedula:</label>
                                            <input type="text" class="form-control" formControlName="cedula" placeholder="Cedula">
                                        </div>
                                        <div class="col me-3">
                                            <label class="form-label">*Domicilio:</label>
                                            <input type="text" class="form-control" formControlName="domicilio" placeholder="Domicilio">
                                        </div>
                                    </div>
        
                                    <div class="row mb-3">
                                        <div class="col me-3">
                                            <label class="form-label">*Telefono:</label>
                                            <input type="text" class="form-control" formControlName="telefono"  placeholder="Telefono">
                                        </div>
                                        <div class="col me-3">
                                            <label class="form-label">*TelefonoCasa:</label>
                                            <input type="text" class="form-control" formControlName="telefonoCasa"  placeholder="TelefonoCasa">
                                        </div>
                                        <div class="col me-3">
                                            <label class="form-label">*CambiarActivo:</label>
                                           <select name="cambiarActivo" formControlName="estatus" class="form-control">
                                                <option value="1">Activado</option>
                                                <option value="0">Desactivado</option>
                                           </select>
                                        </div>
                                    </div>
                               
                              
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" (click)="actualizar()">Actualizar</button>
                        </div>
                  </div>
                </div>
              </div>
        </div>
    <!-- /modal -->

    <div class="row">
      <div class="col">
          <div class="card mt-4">
              <div class="card-header">
                  Medicos | Tabla
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col text-center">
                    <div class="table-responsive">
                        <table  datatable [dtOptions]="dtOptions"class="table table-striped table-hover table-bordered row-border hover datatables">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>ApPaterno</th>
                                    <th>ApMaterno</th>
                                    <th>Numero</th>
                                    <th>Cedula</th>
                                    <th>Domicilio</th>
                                    <th>Telefono</th>
                                    <th>TelefonoCasa</th>
                                    <th>Estatus</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let m of  listMedicos">
                                   <td>{{m.Id}}</td>
                                   <td>{{m.Nombre}}</td>
                                   <td>{{m.ApPaterno}}</td>
                                   <td>{{m.ApMaterno}}</td>
                                   <td>{{m.Numero}}</td>
                                   <td>{{m.Cedula}}</td>
                                   <td>{{m.Domicilio}}</td>
                                   <td>{{m.Telefono}}</td>
                                   <td>{{m.TelefonoCasa}}</td>
                                   <td>{{m.Estatus}}</td>
                                   <td class="d-grid gap-2 d-md-flex justify-content-md-end">
                                       <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="getMedicoById(3)"><i class="pi pi-pencil"></i></button>
                                       <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="pi pi-trash"></i></button>
                                   </td>
                               </tr> 
                            </tbody>
                        </table>
                    </div>
                   
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
  </div>