<div class="container">
    <h1>Modulo de personas</h1>
   
</div>


<div class="container">
    <div class="card p-fluid">
        
            <form action="">
                
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label htmlfor="name2">Nombre</label>
                        <input pinputtext="" id="name2" type="text" class="p-inputtext p-component p-element" placeholder="Nombre">
                    </div>
                    <div class="field col">
                        <label htmlfor="email2">Apellido paterno</label>
                        <input pinputtext="" id="email2" type="text" class="p-inputtext p-component p-element" placeholder="Apellido paterno">
                    </div>
                </div>
                
                    <div class="p-formgrid grid">
                        <div class="field col">
                            <label htmlfor="name2">Apellido materno</label>
                            <input pinputtext="" id="name2" type="text" class="p-inputtext p-component p-element" placeholder="Apellido paterno">
                        </div>
                        <div class="field col">
                            <label htmlfor="email2">Perfil</label>
                            <input pinputtext="" id="email2" type="text" class="p-inputtext p-component p-element" placeholder="Perfil">
                        </div>
                    </div>

                    <div class="p-formgrid grid">

                        <div class="field col-6">
                            <label htmlfor="email2">Sede</label>
                            <input pinputtext="" id="email2" type="text" class="p-inputtext p-component p-element" placeholder="Sede">
                        </div>
                    </div>
                
            </form>
            <div class="row">

                <div class="formgroup-inline">

                    <div class="col-sm-2">
                        <button   label="Agregar" class="p-element p-ripple p-button p-component" type="Submit" (click)=" onSubmit()"><span class="p-button-label"><i class="pi pi-plus" style="font-size: 1rem"></i> Agregar</span><span class="p-ink"></span></button>
                    </div>
                </div>
            </div>
        
        </div>
</div>

<div class="container">
<div class="table-responsive">

    <table class="table">
        <thead>
          <tr>
            <th [height]="50" scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">ApPaterno</th>
            <th scope="col">ApMaterno</th>
            <th scope="col">Perfil</th>
            <th scope="col">Sede</th>
          
          </tr>
        </thead>
        <tbody>
          <tr >
            <th>1</th>
            <td>David</td>
            <td>Perez</td>
            <td>Garcia</td>
            <td>Administrador</td>
            <td>Matriz</td>
           
          </tr>
        </tbody>
      </table>
</div>
    
</div>


