<div class="container">

    <!--Formulario Categorias-->
    <div class="row">
        <div class="col">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="card mt-4">
                            <div class="card-header">
                                Categoria | Formulario
                            </div>
                            <div class="card-body">
                                <div class="alert alert-danger" role="alert" *ngIf="error">
                                    {{error}}
                                </div>
                                <div class="alert alert-success" role="alert" *ngIf="message">
                                    {{message}}
                                  </div>
                                <form [formGroup]="Categoriaform" id="form">
                                    <!-- <div class="mb-3">
                                        <label class="form-label">*Sucursal:</label>
                                        <select name="Id" id="Id" class="form-control">
                                            <option value="1">Categoria</option>
                                        </select>
                                    </div> -->
                                    <div class="row mb-3">
                                        <!-- <div class="col me-2">
                                            <label class="form-label">*Id:</label>
                                           <input type="text" class="form-control" placeholder="id" formControlName="Id" name="Id">
                                        </div> -->
                                        <div class="col me-2">
                                            <label class="form-label">*Nombre:</label>
                                           <input type="text" class="form-control" placeholder="Nombre" formControlName="nombreCategoria">
                                        </div>
                                        <div class="col me-2">
                                            <label class="form-label">*Descripcion:</label>
                                           <input type="text" class="form-control" placeholder="Descripcion" formControlName="descripcionCategoria">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button class="btn btn-danger" type="button" (click)="Reset()">Limpiar</button>
                                    <button class="btn btn-primary" type="button" (click)="onSubmit()" (click)="refrescar()">Guardar</button>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <!--Tabla Categorias-->
    <div class="row">
        <div class="col">
            <div class="card mt-4">
                <div class="card-header">
                    Categoria | Tabla
                </div>
                <div class="card-footer">
                    <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary" type="button" (click)="Cargar()">Buscar</button>
                    </div> -->
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col text-center table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-hover table-bordered row-border hover datatables ">
                            <thead>
                                <tr >
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                   
                                   
                                </tr>
                            </thead>
                            <tbody >
                                <tr *ngFor="let categoria of listaCategoria" >
                                    <td>{{categoria.Nombre}}</td>
                                    <td>{{categoria.Descripcion}}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

