<div class="container">

    <!--Tabla Tickets-->
    <div class="row">
        <div class="col">
            <div class="card mt-4">
                <div class="card-header">
                    Lista mapeos | Tabla
                </div>
                <!-- <div class="card-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary" type="button" (click)="Cargar()">Buscar</button>
                    </div>
                </div> -->
                
            </div>
        </div>
    </div>
  
</div>