<div class="container">
    <div class="row">
        <div>
            <div class="card mt-4">
                <div class="card-header">
                    Reporte de existencias y movimientos de inventario | Formulario
                </div>
                <div class="card-body">
                    <!-- <div class="alert alert-danger" role="alert" *ngIf="error">
                        {{error}}
                    </div>
                    <div class="alert alert-success" role="alert" *ngIf="message">
                        {{message}}
                    </div> -->
                    <form [formGroup]="VentaEntradasForm" id="form" >
                        <div class="row mb-3">
                              <div class="mb-3">
                                        <label class="form-label">*Sucursal:</label>
                                        <select name="sucursal" id="sucursal" formControlName="sucursal" class="form-control" >
                                            <option value="2" selected>Matriz</option>
                                        </select>
                                </div>
                        </div>
                        <div class="row mb-3">
                            <!-- <div class="col me-2">
                                <label class="form-label">*Id:</label>
                               <input type="text" class="form-control" placeholder="id" formControlName="Id" name="Id">
                            </div> -->
                            
                            <div class="col me-2">
                                <label class="form-label">*Fecha Inicial:</label>
                               <input type="date" class="form-control"  formControlName="fechaInicial">
                            </div>
                            <div class="col me-2">
                                <label class="form-label">*Fecha final:</label>
                               <input type="date" class="form-control" formControlName="fechaFinal">
                            </div>
                            <div class="col me-2">
                                <label class="form-label">*Codigo:</label>
                               <input type="text" class="form-control" formControlName="codigo">
                            </div>
                            <div class="col me-2">
                                <label class="form-label">*Departamento:</label>
                               <input type="text" class="form-control" formControlName="departamento">
                            </div>
                            <div class="col me-2">
                                <label class="form-label">*Familia:</label>
                                <select name="familia" id="familia" formControlName="familia" class="form-control">
                                    <option value="0"selected>Familia</option>
                                </select>
                            </div>
                        </div>
                           
                    </form>  
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <!-- <button class="btn btn-danger" type="button" (click)="Reset()">Limpiar</button> -->
                        <button class="btn btn-primary" type="button" (click)="buscar()">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div>
            <div class="card mt-4">
                <div class="card-header">
                    Reporte de existencias y movimientos de inventario | Tabla
                </div>
                <!-- <div class="card-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary" type="button" (click)="Cargar()">Buscar</button>
                    </div>
                </div> -->
                <div class="card-body">
                
                  <div class="row">
                    <div class="col text-center">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtOptions" class="table table-striped table-hover table-bordered row-border hover datatables table-responsive">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Descripcion</th>
                                        <th>Familia</th>
                                        <th>Departamento</th> 
                                        <th>Ventas</th>
                                        <th>Entradas</th>
                                        <th>PrecioVenta</th>
                                        <th>Costo</th>
                                        <th>TeoricoActual</th>
                                    </tr>
                                </thead>
                                <tbody>
                                 
                                     <tr *ngFor="let item of  listaVentasEntradas">
                                        <td>{{item.Codigo}}</td>
                                        <td>{{item.Descripcion}}</td> 
                                        <td>{{item.Familia}}</td>
                                        <td>{{item.Departamento}}</td>
                                        <td>{{item.Ventas}}</td>
                                        <td>{{item.Entradas}}</td>
                                        <td>{{item.PrecioVenta}}</td>
                                        <td>{{item.Costo}}</td>
                                        <td>{{item.TeoricoActual}}</td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>